{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Events</li>
</ol>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>City</th>
            <th>Venue</th>
            <th>Capacity</th>
            <th>Slogan</th>
            <th>Participating Countries Count</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.event_id }}</td>
            <td>{{ event.start_date }}</td>
            <td>{{ event.end_date }}</td>
            <td>{{ event.city }}</td>
            <td>{{ event.venue }}</td>
            <td>{{ event.capacity }}</td>
            <td>{{ event.slogan }}</td>
            <td>{{ event.participating_countries_count }}</td>
            <td>{{ event.country_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}